html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{
    width:100%;
 }
.box{
    width:100%;
       box-sizing: border-box;
     background:#f5f5f5;
}
.search_box{
   width:100%;
   height:80px;
   padding:15px;
   box-sizing: border-box;
   background:#fff;
   margin-bottom:15px;
}
.search_inner_box{
  width:100%;
  height:100%;
 
  border-radius:30px;
}
.search_form{
    width:100%;
    height:100%;
    border:none;
}
.search_input{
   width:100%;
   height:50px;
   border:none;
   background:#f5f5f5;
   padding:0 20px;
   box-sizing: border-box;
   font-size: 16px;
   outline: none;
   border-radius: 30px;
}
input[type="search"]::-webkit-search-cancel-button{
    display: none;
    autocomplete:off;
}
.content_box{
    padding:0 15px;
}
.item_box{
    background:#fff;
    margin-bottom:15px;
    padding:10px;
    box-sizing: border-box;
}
.table_title{
  line-height: 30px;
  font-size:16px;
  text-indent: 10px;
  position: relative;
  color:#222;
}
.table_title::before{
  position:absolute;
  left:0;
  top:2.5px;
  width:4px;
  background:#53a2f8;
  height:25px;
  content: ' ';
  border-radius: 2px;
}

/* .table_box{
    height:200px;
} */


.company_box{
   background:#fff;
   padding:10px;
   box-sizing: border-box;
}
.company_box p{
    font-size:14px;
    line-height:20px;
    color:#333;
    text-indent: 20px;
    margin-bottom:7px;
}
.company_image_box{
  width:100%;
  overflow:hidden;
  text-align: center;
}
image{
    width:95%;
    max-height: 200px;
}
.company_box table{
    font-size:14px;
    color:#333;
    line-height: 25px;
    margin-top:10px;
    
}
.company_box table tr th{
    text-align: left;
}
table,table tr th, table tr td { border:1px solid #333; padding:5px;   word-break:break-all;font-size: 14px;color:#333;}
/* #information td{
    width:25%;
} */
#information td.table_tab{
    width:70px;
    text-align: center;
}
.table_value{
    width:25%;
}
.table_box{
  margin: 10px 0;
  box-sizing: border-box;
  overflow:hidden;
}

.huaxue_table{
    width:100%;
   
}
.huaxue_table td{
    width:25%;
    text-align: center;
    word-break:break-all;
}
.wuliTable{
    width:100%;
}
.wuliTable td{
    width:33.33333333333%;
    text-align: center;
    word-break:break-all;
}
.jiaobiao{
    position:relative;
    width: 50px;
    /* display:inline-block; */
}
.jiaobiao_number{
    position:absolute;
    top:0;
    font-size:12px;
}
.jiaobiao_abc{
    position:absolute;
    bottom:0;
    font-size:12px;
    margin-left:8px;
}
.jiaobiao_wrap{
    display:inline-block;
    margin-left:-10px;
}
.jiaobiao_2{
    position:relative;
    width: 30px;
}
.jiaobiao_2 .jiaobiao_abc{
    margin-left:0;
}

.jiaobiao_box .left{
  display:inline-block;
  position:relative;
  width:48px;
}
.jiaobiao_box .left .num{
  position:absolute;
  top:0;
  font-size:12px;
}
.jiaobiao_box .left .wor{
  position:absolute;
  bottom:0;
  left:37px;
  font-size:12px;
  
  
}
.jiaobiao_box .right{
  display:inline-block;
  width:40px;
  position:relative;
  text-align: left;
  /* margin-left:-5px; */
}
.jiaobiao_box .right .wor{
    position:absolute;
    bottom:0;
    left:17px;
    font-size:12px;
  }

  .jiaobiao_box .left2{
    display:inline-block;
    position:relative;
    width:45px;
  }
  .jiaobiao_box .left2 .num{
    position:absolute;
    top:0;
    font-size:12px;
  }
  .jiaobiao_box .left2 .wor{
    position:absolute;
    bottom:0;
    left:35px;
    font-size:12px;
    
    
  }

  .jiaobiao_box .right2{
    display:inline-block;
    width:45px;
    position:relative;
    text-align: left;
    /* margin-left:-3px; */
  }
  .jiaobiao_box .right2 .num{
      position:absolute;
      top:0;
      font-size:12px;
      left:17px;
  }
  .jiaobiao_box .right2 .wor{
    position:absolute;
    bottom:0;
    left:25px;
    font-size:12px;
  }